* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#hero {
    width: 626px;
    height: 486px;
    margin: 64px auto;
}

img {
    margin-bottom: 32px;
}

h1 {
    color: #3F3D56;
    font: 500 32px 'Dosis', sans-serif;
    margin-bottom: 16px;
}

h1 span {
    color: #EE24FF;
    font-weight: 700;
}

p {
    color: #828282;
    font: 400 15px 'Open sans', sans-serif;
    line-height: 22px;
}

p span {
    color: #3F3D56;
    font-weight: bold;
}

#line {
    width: 391px;
    height: 0px;

    border: 1px solid #ECEFF2;
    margin: 0px auto 16px;
}

#links {
    margin-bottom: 40px;
}

#links a {
    text-decoration: none;
    color: #3F3D56;
    font: 700 15px 'Open sans', sans-serif;
    line-height: 147.682%;
}

#footer {
    width: 100%;
}

#footer a+a{
    margin-left: 42px;
}